html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  padding-top: 2rem;
}

h2 {
  padding-top: 1.5rem;
}

h3 {
  padding-top: 1rem;
}

h4 {
  padding-top: 0.5rem;
}

h5 {
  padding-top: 0.5rem;
}

h6 {
  padding-top: 0.5rem;
}

.section {
}

.has-background-gradient {
  background: linear-gradient(30deg, #00c9a0 0%, #4675d3 100%);
  color: white;
}

#leftwing {
  position: absolute;
  top: -1rem;
  left: -2rem;
  z-index: -1;
}

#rightwing {
  position: absolute;
  bottom: 1rem;
  right: -1rem;
  z-index: -1;
}

.bg-purple-200 {
  background-color: #cfcbfd;
}

.bg-grey-100 {
  background-color: #f7f7f9;
}

.bg-grey-600 {
  background-color: #344054;
}
